/*
#66CCCE
#D35400

*/


::-moz-selection {
    color: #ffffff;
    background: #66CCCE;
}

::selection {
    color: #ffffff;
    background: #66CCCE;
}

.btn-col,
.project-details h5, 
.project-info h5 {
border-color: #66CCCE;
color: #66CCCE;
}

.btn-col:hover {
color: #D35400;
}

.section-title h3, 
.section-title h4,
.step-no,
.sub-steps .icon,
.sub-steps .sub-text,
.testimonial .happy-client,
.client-photos .photo-hold {
border-color:#66CCCE;
}

.color-scheme,
.service-icon,
.step-no .no-inner,
.site-name:hover,
.project-details .details-list li .strong,  
.social-icons ul li a:hover {
color:#66CCCE;
}

.site-name span,
.photo-overlay h4 {
background-color: #66CCCE;
}

.nicescroll-cursors {
background-color: #66CCCE !important;
}

.photo-zoom:before {
	border-color: rgba(0, 255, 255, 0) rgba(255, 0, 255, 0) rgba(230, 126, 34, 1) rgba(255, 255, 10, 0);

}




